In [183]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
from sklearn.metrics import r2_score
%matplotlib inline

In [184]:
#deleting outlier datas
df = pd.read_csv("price.csv")
df=df.set_index('Address').drop(np.nan)
df=df[df['Area'].map(len) < 4]
df=df.reset_index()

In [185]:
#handle the categorical colomn of address
df['Address']=df['Address'].astype(str)
ordinal_index=df.groupby(['Address'])['Price'].mean().sort_values().index
ordinal_lable={k:i for i,k in enumerate(ordinal_index,0)}
df['Address_ordinal_lable']=df['Address'].map(ordinal_lable)

In [186]:
cdf = df[['Area','Room','Parking','Warehouse','Elevator','Address_ordinal_lable','Price']]
cdf.head(9)

  Area  Room  Parking  Warehouse  Elevator  Address_ordinal_lable       Price
0   63     1     True       True      True                     98  1850000000
1   60     1     True       True      True                     98  1850000000
2   79     2     True       True      True                     15   550000000
3   95     2     True       True      True                     26   902500000
4  123     2     True       True      True                    174  7000000000
5   70     2     True       True     False                    156  2050000000
6   87     2     True       True      True                     15   600000000
7   59     1     True       True      True                     98  2150000000
8   54     2     True       True     False                     74   493000000

In [187]:
msk = np.random.rand(len(df)) < 0.8
train = cdf[msk]
test = cdf[~msk]

In [188]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
x = np.asanyarray(train[['Area','Room','Parking','Warehouse','Elevator','Address_ordinal_lable']])
y = np.asanyarray(train[['Price']])
regr.fit(x, y)
# The coefficients
print ('Coefficients: ', regr.coef_)

Coefficients:  [[ 5.60076037e+07  1.22941746e+09 -1.65641855e+09 -1.39000784e+08
   6.13586529e+08  5.32502601e+07]]

In [189]:
y_hat= regr.predict(test[['Area','Room','Parking','Warehouse','Elevator','Address_ordinal_lable']])
x = np.asanyarray(test[['Area','Room','Parking','Warehouse','Elevator','Address_ordinal_lable']])
y = np.asanyarray(test[['Price']])
print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x, y))

Residual sum of squares: 21937452391043977216.00
Variance score: 0.70

c:\Users\Harir\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(